@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IList<WebApplication6.Model.User>


<div class="col-md-2  col-md-pull-2">
    <div class="list-group">
        <a href="#" class="list-group-item active">
            Меню
        </a>
        <div class="list-group-item">
            @Html.ActionLink("Пользоватеи", "UsersEdit", "Administration")
        </div>
        <div class="list-group-item">
            @Html.ActionLink("Новости", "NewsEdit", "Administration")
        </div>
        <a href="#" class="list-group-item">Porta ac consectetur ac</a>
        <a href="#" class="list-group-item">Vestibulum at eros</a>
    </div>
</div>

<div class="col-md-10 col-md-pull-1">




    <table class="table table-hover table-bordered">
        <caption> <b>Пользователи </b></caption>
        <thead class="thead-inverse">
            <tr>
                <th>#</th>
                <th>Email</th>
                <th>Дата регистрации</th>
                <th>Дата последнего посещения</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.ID</td>
                    <td>@user.Email</td>
                    <td>@user.AddedDate</td>
                    <td> @user.LastVisitDate</td>

                    <td>
                        @using (Html.BeginForm("Deleteuser", "Administration", new { id = user.ID }))
                        {

                            <button class="btn btn-danger btn-xs" type="submit">Удалить</button>
                        }
                    </td>

                </tr>
            }

        </tbody>
    </table>






</div>
