@using System.Web.Optimization;
@model  WebApplication6.Models.UserView

@{
    ViewBag.Title = "VRUNGEL";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 

@using (Html.BeginForm("Register", "User", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary()
    
        <fieldset>

            <legend>Регистрация</legend>
            <div class="col-md-5">
                <div class="form-group">
                    <label class="control-label">
                        Email
                    </label>

                    @Html.ValidationMessage("Email")
                    
                    @Html.TextBox("Email", Model.Email, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <label class="control-label">
                        Пароль
                    </label>

                    @Html.ValidationMessage("Password")
                    @Html.Password("Password", Model.Password, new { @class = "form-control" })

                </div>

                <div class="form-group">
                    <label class="control-label">
                        Подтвердите пароль
                    </label>

                    @Html.ValidationMessage("ConfirmPassword")
                    @Html.Password("ConfirmPassword", Model.ConfirmPassword, new { @class = "form-control" })

                </div>


                <div class="form-group">
                    <button type="submit" class="btn btn-primary">
                        Register
                    </button>
                    @Html.ActionLink("Cancel", "Index", null, null, new { @class = "btn btn-default" })

                </div>
            </div>
</fieldset>
   


}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}