@model  WebApplication6.Models.UserView

@{
    ViewBag.Title = "VRUNGEL";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

@using (Html.BeginForm("Register", "User", FormMethod.Post, new { @class = "form-horizontal" }))
{
 
        <fieldset>
            <div class="control-group">
                <label class="control-label" for="Email">
                    Email
                </label>
                <div class="controls">
                    @Html.ValidationMessage("Email")
                    @Html.TextBox("Email", Model.Email)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="FirstName">
                    Пароль
                </label>
                <div class="controls">
                    @Html.ValidationMessage("Password")
                    @Html.Password("Password", Model.Password)
                </div>
            </div>
            
            <div class="control-group">
                <label class="control-label" for="FirstName">
                    Подтвердите пароль
                </label>
                <div class="controls">
                    @Html.ValidationMessage("ConfirmPassword")
                    @Html.Password("ConfirmPassword", Model.ConfirmPassword)
                </div>
            </div>







            <div class="form-actions">
                <button type="submit" value="Submit RSVP">
                    Register
                </button>

            </div>
        </fieldset>
   
  
    }
