@model WebApplication6.Model.User

@if (Model != null)
{
    <li> @Html.ActionLink(@Model.Email.Trim(), "Logout", "Login")</li>
    <li>@Html.ActionLink("Выход", "Logout", "Login")</li>
}
else
{
    <li>@Html.ActionLink("Вход", "Index", "Login")</li>
    <li>@Html.ActionLink("Регистрация", "Register", "User")</li>
}